<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="moe.ahao.commerce.aftersale.infrastructure.repository.impl.mybatis.mapper.AfterSaleItemMapper">
    <select id="selectListByAfterSaleId" resultType="moe.ahao.commerce.aftersale.infrastructure.repository.impl.mybatis.data.AfterSaleItemDO">
        select * from after_sale_item where after_sale_id = #{afterSaleId}
    </select>
    <select id="selectListByOrderId" resultType="moe.ahao.commerce.aftersale.infrastructure.repository.impl.mybatis.data.AfterSaleItemDO">
        select * from after_sale_item where order_id = #{orderId}
    </select>
    <select id="selectListByOrderIdAndSkuCode" resultType="moe.ahao.commerce.aftersale.infrastructure.repository.impl.mybatis.data.AfterSaleItemDO">
        select * from after_sale_item where order_id = #{orderId} and sku_code = #{skuCode}
    </select>
    <select id="selectListByOrderIdAndExcludeAfterSaleId" resultType="moe.ahao.commerce.aftersale.infrastructure.repository.impl.mybatis.data.AfterSaleItemDO">
        select * from after_sale_item where order_id = #{orderId} and after_sale_id != #{afterSaleId}
    </select>
</mapper>
