<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="moe.ahao.commerce.order.infrastructure.repository.impl.mybatis.mapper.OrderAmountDetailMapper">
    <select id="selectListByOrderId" resultType="moe.ahao.commerce.order.infrastructure.repository.impl.mybatis.data.OrderAmountDetailDO">
        select * from order_amount_detail where order_id = #{orderId}
    </select>
    <select id="selectListByOrderIdAndOrderItemId" resultType="moe.ahao.commerce.order.infrastructure.repository.impl.mybatis.data.OrderAmountDetailDO">
        select * from order_amount_detail where order_id = #{orderId} and order_item_id = #{orderItemId}
    </select>
</mapper>
