<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="moe.ahao.commerce.order.infrastructure.repository.impl.mybatis.mapper.OrderPaymentDetailMapper">
    <update id="updatePrePayInfoByOrderId">
        update order_payment_detail
        set pay_type = #{payType}, pay_time = #{payTime}, out_trade_no = #{outTradeNo}
        where order_id = #{orderId}
    </update>
    <update id="updatePrePayInfoByOrderIds">
        update order_payment_detail
        set pay_type = #{payType}, pay_time = #{payTime}, out_trade_no = #{outTradeNo}
        where order_id in <foreach collection="orderIds" item="item" open="(" close=")" separator=",">#{item}</foreach>
    </update>
    <update id="updatePayStatusByOrderId">
        update order_payment_detail
        set pay_status = #{payStatus}
        where order_id = #{orderId}
    </update>
    <update id="updatePayStatusByOrderIds">
        update order_payment_detail
        set pay_status = #{payStatus}
        where order_id in <foreach collection="orderIds" item="item" open="(" close=")" separator=",">#{item}</foreach>
    </update>
    <select id="selectListByOrderId" resultType="moe.ahao.commerce.order.infrastructure.repository.impl.mybatis.data.OrderPaymentDetailDO">
        select * from order_payment_detail where order_id = #{orderId}
    </select>
    <select id="selectListByOrderIds" resultType="moe.ahao.commerce.order.infrastructure.repository.impl.mybatis.data.OrderPaymentDetailDO">
        select * from order_payment_detail where order_id in <foreach collection="orderIds" item="item" open="(" close=")" separator=",">#{item}</foreach>
    </select>
    <select id="selectOneByOrderId" resultType="moe.ahao.commerce.order.infrastructure.repository.impl.mybatis.data.OrderPaymentDetailDO">
        select * from order_payment_detail where order_id = #{orderId}
    </select>

</mapper>
